* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-container {
  background-color: #ddd;
  margin-bottom: 4px;
}
.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  margin: 0;
}
.nav-list li {
  list-style: none;
  margin: 5px;
}

.left-nav img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.right-nav {
  display: flex;
  align-items: center;
  margin: 10px;
}
.right-nav i {
  margin: 12px;
}

.links {
  text-decoration: none;
  color: #000;
}
.links:hover {
  color: #444;
}

.font-heart {
  font-size: 20px;
}

.nav-list li {
  transition: all 0.5s;
}

.nav-list li:hover {
  font-size: 18px;
  margin: 5px;
}
.cart-icon {
  font-size: 24px;
}
